@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    ViewBag.Title = "Add New Role";
}

<h2>Create A New Role</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <hr/>
    @Html.ValidationSummary("", new { @class = "text-warning" })
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new {@class= "form-control" })
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Create Role" />
            </div>
        </div>
    </div>
}